@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
body {
  margin: 0px;
  background-color: #fefcf3;
  font-family: 'Playfair Display', serif; }

a {
  text-decoration: none; }

.centrar_contenedores, .seccion_banner, .fondo_parrafo, .seccion_principal, .seccion_titulo, .productos_subtitulos, .contenedor_imagenes, .contenedor_tabla, .texto_centrado {
  margin-left: auto;
  margin-right: auto; }

.espacio_vertical, .seccion_banner, .seccion_principal {
  padding-top: 60px;
  padding-bottom: 60px; }

footer {
  background-color: #dad5d6;
  padding: 30px;
  display: flex;
  justify-content: space-between; }
  footer h3 {
    margin: 0px; }
  footer ul {
    list-style: none; }
  footer a {
    color: #353535;
    font-size: 1em; }

.navbar img {
  width: 30px;
  height: 30px; }

.contenedor_card_body {
  height: 182px; }

.seccion_banner {
  max-width: 800px; }
  .seccion_banner h1 {
    text-align: center;
    font-size: 3em;
    color: #626262; }

.logo_principal {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  width: 80%; }

.carousel-caption {
  font-size: 24px;
  background-color: #1919197a; }

.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover; }

.fondo_parrafo {
  background-color: #fefcf3;
  padding: 20px;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .fondo_parrafo p {
    font-size: 1.3em;
    line-height: normal;
    text-align: justify; }

.section_cards {
  background-color: #f0dbdb; }
  .section_cards .contenedor_cards {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px; }
  .section_cards .contenedor_card {
    background-color: #e4bdbd;
    text-align: center;
    transition: 0.3s; }
    .section_cards .contenedor_card:hover {
      background-color: #fefcf3;
      border-radius: 10px; }
    .section_cards .contenedor_card img {
      height: 200px;
      object-fit: cover; }

.seccion_principal {
  max-width: 1100px; }

.seccion_titulo {
  display: block;
  margin-top: 50px;
  max-width: 800px; }
  .seccion_titulo h1 {
    text-align: center;
    font-size: 4em;
    color: #626262; }
    @media (max-width: 600px) {
      .seccion_titulo h1 {
        font-size: 3em; } }
    @media (max-width: 400px) {
      .seccion_titulo h1 {
        font-size: 2em; } }

.productos_subtitulos {
  text-align: center;
  display: block;
  max-width: 800px; }

.c3 {
  transition: 1s; }
  .c3:hover {
    transform: scale(1, 1.2); }

.contenedor_imagenes {
  display: flex;
  justify-content: space-between;
  max-width: 1100px; }

.card_imagenes {
  display: flex;
  align-items: center;
  background: #ff840314;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .card_imagenes img {
    width: 100%;
    max-height: 300px; }

.contenedor_tabla {
  max-width: 800px; }
  .contenedor_tabla h3 {
    text-align: center; }
  .contenedor_tabla table {
    margin-left: auto;
    margin-right: auto; }

.contenedor_texto {
  padding-left: 20px;
  padding-right: 20px; }
  .contenedor_texto p {
    font-size: 1.2em; }

.texto_centrado {
  max-width: 800px; }
  .texto_centrado h1 {
    text-align: center;
    font-size: 4em;
    color: #626262; }
    @media (max-width: 600px) {
      .texto_centrado h1 {
        font-size: 3em; } }
    @media (max-width: 400px) {
      .texto_centrado h1 {
        font-size: 2em; } }

.contenedor_formulario {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
  padding-left: 15px;
  padding-right: 15px; }
