.texto_centrado {
    @include contenedores_textos;
    
    h1 {
        @include titulo_principal;
    }
}

.contenedor_formulario {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    padding-left: 15px;
    padding-right: 15px;
}
