.contenedor_card_body {
    height: 182px;
}

.seccion_banner {
    @extend .espacio_vertical;

    @include contenedores_textos;

    h1 {
        text-align: center;
        font-size: 3em;
        color: $color-texto;
    }
}

.logo_principal {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    width: 80%;

}

.carousel-caption {
    font-size: 24px;
    background-color: #1919197a;
}


.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.fondo_parrafo {
    background-color: $color-principal;
    padding: 20px;

    @include contenedores_textos;
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        font-size: 1.3em;
        line-height: normal;
        text-align: justify;
    }
}

.section_cards {
    background-color: #f0dbdb;

    .contenedor_cards {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 100px;
    }

    .contenedor_card {
        background-color: #e4bdbd;
        text-align: center;
        transition: 0.3s;

        &:hover {
            background-color: $color-principal;
            border-radius: 10px;
        }

        img {
            height: 200px;
            object-fit: cover;
        }
    }

}