.seccion_principal {
    @extend .espacio_vertical;
    
    @include contenedores_principales;
}

.seccion_titulo {
    display: block;
    margin-top: 50px;
    @include contenedores_textos;

    h1 {
        text-align: center;
        font-size: 4em;
        color: $color-texto;
    }
}

.productos_subtitulos {
    text-align: center;
    display: block;
    @include contenedores_textos;
}

.c3 {
    transition: 1s;
}

.c3:hover {
    transform: scale(1, 1.2);
}

.contenedor_imagenes {
    display: flex;
    justify-content: space-between;
    @include contenedores_principales;
}

.card_imagenes {
    display: flex;
    align-items: center;
    background: #ff840314;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
        width: 100%;
        max-height: 300px;
    }
}

.contenedor_tabla {
    @include contenedores_textos;
}

.contenedor_tabla h3 {
    text-align: center;
}

.contenedor_tabla table {
    margin-left: auto;
    margin-right: auto;
}