@mixin contenedores_textos {
    max-width: 800px;
    @extend .centrar_contenedores;
}

@mixin contenedores_principales {
    max-width: 1100px;
    @extend .centrar_contenedores;
}

@mixin titulo_principal {
    text-align: center;
    font-size: 4em;
    color: $color-texto;

    @media (max-width: 600px) {
        font-size: 3em;
    }

    @media (max-width: 400px) {
        font-size: 2em;
    }
}