@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body {
    margin: 0px;
    background-color: #fefcf3;
    font-family: 'Playfair Display', serif;
}


a {
    text-decoration: none;
}

